{% if product.productDocuments is not empty %}
    <div class="ui segment">
        <h3 class="ui dividing header">{{ 'sylius.ui.download_documents'|trans }}</h3>
        <div class="ui very relaxed horizontal list centered">
            {% for document in product.productDocuments %}
                <div class="item">
                    <a class="ui labeled icon button" href="{{ document.path|getDocumentPath }}">
                        <i class="download icon"></i>
                        {{ document.type }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
