{% form_theme form.productDocuments '@AsdoriaProductDocument/Form/documentsTheme.html.twig' %}

<div class="ui tab" data-tab="documents">
    <div class="ui segment">
        <h4 class="ui dividing header">{{ 'sylius.ui.documents'|trans }}</h4>
        {{ form_row(form.productDocuments) }}
    </div>
</div>
